<div class="block">
  <h3>Links</h3>
  <ul class="navigation">
    <li><%= link_to "Google Analytics", "https://www.google.com/analytics/web/?hl=en&pli=1#report/visitors-overview/a39949529w68993947p71056394/" %></li>
    <li><%= link_to "Facebook Fan Page", "https://www.facebook.com/tokyoprojectpage" %></li>
  </ul>
</div>
