body {
  padding-bottom: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
  min-height: 900px;
}
/* Main marketing message and sign up button */
.jumbotron {
  margin: 10px 0;
  text-align: center;
}
.jumbotron h1 {
  font-size: 72px;
  line-height: 1;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}
.flash_message{
  text-align: center;
  font-size: 14pt;
  font-family: "Arial";
}
a:link, a:visited, a:hover, a:active{
  color:#413839;
  font-weight: bolder;
}

a.vision_link{
  color:white;
}

.footer{
  margin-top: 40px;
}

.image{
  max-width:90%;
  margin-left: auto;
  margin-right: auto;
}

.image_ban h4{
  color: white;
  position: absolute;
  font: bold 16px Helvetica;
  letter-spacing: -1px;
  background: #000;
  padding: 8px;
}

.image_ban h4 a {
  color: white;
}

.image h4 a{
  color: white;
}

.top{
  margin-top: 4em;
}

.zordor{
  margin-top: 10px;
}

.twitter-share-button {
  width: 80px !important;
}

/* Flexible iFrame */

.Flexible-container {
    position: relative;
    padding-bottom: 50%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.Flexible-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.navbar {
  height: 55px;
  padding-bottom: 5px;
}
.navbar .nav {
  margin-top: 10px;
}