<ul class="nav nav-tabs">
  <li> <%= link_to tag_icon(:list, pat(:list)), url(:areas, :index) %></li>
  <li class="active"> <%= link_to tag_icon(:plus, pat(:new)), url(:areas, :new) %></li>
</ul>

<div class="tabs-content">
  <% form_for :area, url(:areas, :create), :class => 'form-horizontal' do |f| %>
    <%= partial "areas/form", :locals => { :f => f, :wards => @wards } %>
  <% end %>
</div>
