<div class="container">
  <div class="jumbotron">
    <h1>Tokyo Project</h1>
    <h4>Visions of Tokyo. A lonely alley, a crowded streed, a field full of cherry blossoms, there is magic on every corner of this city.</h4>
  </div>
</div> <!-- /container -->
<div class="container">
  <div class="row-fluid">
    <ul class="thumbnails">
      <li class="span4">
        <div class="image">
          <%= image_tag "http://farm9.staticflickr.com/8383/8580549156_d7d91a9dec_n.jpg"%>
        </div>
        <h2>Shibuya</h2>
        <p>Always in movement, under the shadow of neon trees Shibuya lays naked under the feed of thousand of people crossing the streets each time the street light changes its color. But still, even among the crowded streets of this part of the city there are some hidden spots waiting to be rediscovered.</p>
        <p><a class="btn" href="#">Visit &raquo;</a></p>
      </li>
      <li class="span4">
        <div class="image">
          <%= image_tag "http://farm9.staticflickr.com/8513/8577879288_fcaa1c42b5_n.jpg"%>
        </div>
        <h2>Shimokitazawa</h2>
        <p>Even now, in the middle of a huge renovation process, the original Shimokitazawa remain standing and proud. There are still original cafeterias where you can sit down and enjoy a cup of coffee while listening and old Lp of a long ago forgotten singer.</p>
        <p><a class="btn" href="#">Visit &raquo;</a></p>
     </li>
      <li class="span4">
        <div class="image">
          <%= image_tag "http://farm9.staticflickr.com/8377/8595699396_380b8e1759_n.jpg"%>
        </div>
        <h2>Shinjuku</h2>
        <p>The town of the 'Salaryman', Shinjuku's streets came to life after the offices lights are turned off and legions of thirsty Japanese business men loos their neckties while they order the first bottle of sake.</p>
        <p><a class="btn" href="#">Visit &raquo;</a></p>
      </li>
    </ul>
  </div>
</div>
