<ul class="nav nav-tabs">
  <li> <%= link_to tag_icon(:list, pat(:list)), url(:wards, :index) %></li>
  <li class="active"> <%= link_to tag_icon(:plus, pat(:new)), url(:wards, :new) %></li>
</ul>

<div class="tabs-content">
  <% form_for :ward, url(:wards, :create), :class => 'form-horizontal' do |f| %>
    <%= partial "wards/form", :locals => { :f => f } %>
  <% end %>
</div>
