<div class="container">
  <div class="row">
    <div class="span4 zordor">
      <%= partial 'blog/left_column' %>
    </div>
    <div class="span8">
      <% @posts.each do |post| %>
        <%= partial 'blog/post', locals: { post: post } %>
      <% end %>
    </div>
  </div>
</div>
