<ul class="nav nav-tabs">
  <li> <%= link_to tag_icon(:list, pat(:list)), url(:visions, :index) %></li>
  <li class="active"> <%= link_to tag_icon(:plus, pat(:new)), url(:visions, :new) %></li>
</ul>


<div class="tabs-content">
  <% form_for :vision, url(:visions, :create), :class => 'form-horizontal' do |f| %>
    <%= partial "visions/form", :locals => { :f => f, :areas => @areas } %>
  <% end %>
</div>
