<div class="image">
  <% picture_url = vision.published_pictures.any? ? vision.published_pictures.last.medium : Vision::DEFAULT_MEDIUM_PICTURE_URL %>
  <%= link_to(image_tag(picture_url), url(:visions, :show, :id => vision.id))%>
</div>
<h2><%= vision.title %></h2>
<p><%= vision.short_description %></p>
<p><%= link_to "Visit", url(:visions, :show, :id => vision.id), :class => 'btn' unless (show_link.blank? || show_link == false)%></p>