<div class="image">
  <%
    picture_url = vision.pictures
                  .sort{|a, b| b.created_at <=> a.created_at }
                  .find{|p| p.is_published}
                  .medium rescue nil
    picture_url ||= Vision::DEFAULT_MEDIUM_PICTURE_URL
  %>
  <%= link_to(image_tag(picture_url), url(:places, :show, :id => vision.url_title))%>
</div>
<h2><%= link_to(vision.title, url(:places, :show, :id => vision.url_title)) %></h2>
<p><%= vision.short_description %></p>
