<div class="image">
  <%= link_to(image_tag(vision.picture_url), url(:visions, :show, :id => vision.id)) %>
</div>
<h2><%= vision.title %></h2>
<p><%= vision.short_description %></p>
<p><%= link_to "Visit", url(:visions, :show, :id => vision.id), :class => 'btn' unless (show_link.blank? || show_link == false)%></p>