<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
      </button>
      <a class="brand" href="/">Tokyo Project</a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <%= partial('layouts/main_nav_bar_item', :locals => {:url => '/', :caption => "Home"})%>
          <%= partial('layouts/main_nav_bar_item', :locals => {:url => '#', :caption => "About"}) %>
          <%= partial('layouts/main_nav_bar_item', :locals => {:url => '#', :caption => "Contact"})%>
        </ul>
      </div>
    </div>
  </div>
</div>