<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="/">Tokyo Project</a>
      <div class=".nav-collapse.collapse" data-toggle="collapse" data-target=".nav-collapse">
        <ul class="nav">
          <%= partial('layouts/main_nav_bar_item', :locals => {:url => '/visions', :caption => "Visions"})%>
          <%= partial('layouts/main_nav_bar_item', :locals => {:url => '/areas', :caption => "Areas"})%>
          <%= partial('layouts/main_nav_bar_item', :locals => {:url => '/about', :caption => "About"})%>
          <%= partial('layouts/main_nav_bar_item', :locals => {:url => '/rss.atom', :caption => "Rss"})%>
        </ul>
      </div>
    </div>
  </div>
</div>
