<style media="screen" type="text/css">
  body {
    background-image: url('images/scbw.jpg');
    background-repeat:no-repeat;
    background-size:contain;
    background-position:center;
  }
  .error_message{
    font-size: 40pt;
    font-family: "Arial Black";
    color: B2B2B2;
  }
</style>

<body>
  <div class="container">
    <div class="error_message"><%= @message %></div>
  </div>
</body>
