<div class="container">
  <div class="jumbotron">
    <%= link_to(image_tag("big_logo.png", :title => "View more visions", class: 'big_logo'), '/visions')%>
    <h3>Discover the path less traveled around Tokyo and Japan.</h3>
  </div>
</div>
<div class="container">
  <div class="row-fluid">
    <ul class="thumbnails">
      <% @visions.each do |vision| %>
      <li class="span4">
        <%= partial('layouts/landing_block', :locals => {:vision => vision, :show_link => true})%>
      </li>
      <% end %>
    </ul>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="span1"></div>
    <div class="span10">
      <div class="jumbotron red_button">
        <p class="red_button">
          <a href="<%= url(:places, :index) %>">
            See all <span class='counter'><%= Vision.count %></span> places
          </a>
        </p>
      </div>
    </div>
    <div class="span1"></div>
  </div>
</div>
