<div class="container">
  <div class="jumbotron">
    <%= link_to(image_tag("big_logo.png", :title => "View more visions"), '/visions')%>
    <h4>Visions of Tokyo. A lonely alley, a crowded street, a field full of cherry blossoms, there is magic on every corner of this city.</h4>
  </div>
</div> <!-- /container -->
<div class="container">
  <div class="row-fluid">
    <ul class="thumbnails">
      <% @visions.each do |vision| %>
      <li class="span4">
        <%= partial('layouts/landing_block', :locals => {:vision => vision, :show_link => true})%>
      </li>
      <% end %>
    </ul>
  </div>
</div>
